<div class="h-screen w-screen -z-10 absolute">
  <div class="relative h-full w-full bg-white"><div class=" absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div></div>
  <!-- <div class="opacity-50 absolute -left-1/4 right-0 top-[-20%] h-[1000px] w-[1000px] rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#1858A8,#fbfbfb36)]"></div> -->
</div>
<div class="flex flex-col justify-center items-center h-screen w-screen">
  <div class="w-full">
    <app-header/>
  </div>
  <div class="h-full w-full p-5 bg-transparent">
    <router-outlet></router-outlet>
  </div>
</div>